apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2022-06-02T11:56:38Z"
  generation: 1
  labels:
    app: python-docker-k8s
  name: python-docker-k8s
spec:
  replicas: 4
  selector:
    matchLabels:
      app: python-docker-k8s
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: python-docker-k8s
    spec:
      containers:
      - image: parimalppatil/python-docker-k8s
        imagePullPolicy: IfNotPresent
        name: python-docker-k8s
        ports:
        - containerPort: 4141

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: python-docker-k8s
  name: python-docker-k8s
  namespace: default
spec:
  ports:
  - port: 4141 # service port
    protocol: TCP
    targetPort: 4242 # container port
  selector:
    app: python-docker-k8s
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: python-docker-k8s
  name: clusturip
  namespace: default
spec:
  ports:
  - port: 4242
    targetPort: 4141
  selector:
    app: python-docker-k8s
